<!DOCTYPE html>
<html lang="it">
<title>Dettaglio adesioni</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}"></link>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicondirezione.ico') }}" ></link>
</head>


<style>
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div class="w3-container">
      <a onClick="history.go(-1);return true;"><img src="{{ url_for('static', filename='images/back.png') }}"></a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a style="margin-top:40px" onClick="history.go(-1);return true;"><img src="{{ url_for('static', filename='images/back.png') }}"></a>
  <div style="margin-bottom:30px"></div>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" id="team" style="margin-top:70px">
    <h1 class="w3-xxlarge w3-text-black"><b> Riunione del {{ riunione["data"]}} ore {{ riunione["ora"]}}</b></h1>
    <p style="font-size:xx-large;font-family:Helvetica-Light"><u>{{ riunione["evento"] }}</u></p>
    <p style="font-size:large;font-family:Helvetica-UltraLight"> {{ riunione["luogo"] }}</p><br>
  </div>

  <p><b style="margin-right:20px; font-family:Helvetica-Heavy">ORDINE DEL GIORNO</b></p>
  <p style="font-size:large;font-family:Helvetica-UltraLight;margin-left:20px"> {{ riunione["odg"] }}</p>


  <p><b style="margin-right:20px; font-family:Helvetica-Heavy">ADESIONI</b></p>
    <div style="margin-left: 20px">
    {% for a in adesioni %}
      <li style="list-style:none" style="font-size:large;font-family:Helvetica-UltraLight"> {{ a["nome"] }} {{ a["cognome"] }} &ensp;&ensp;// TEAM: {{a["team"]}}</li>
    {% endfor %}
    </div>

    <form style="margin-left:20px;" action="{{ url_for('ins_adesione', evento=riunione['evento'], data=riunione['data'], ora=riunione['ora']) }}" method=post>
      <br><button class="w3-button w3-padding-large w3-hover-grey" style="background-color: black; color:white">AGGIUNGI ADESIONE</button>
    </form>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
