<!DOCTYPE html>
<html lang="it">
<title>Eliminazione evento</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicondirezione.ico') }}" </link>
</head>


<style>
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div class="w3-container">
      <a href="{{ url_for('direzione') }}"><img src="{{ url_for('static', filename='images/back.png') }}"></a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a style="margin-top:40px" href="{{ url_for('direzione') }}"><img src="{{ url_for('static', filename='images/back.png') }}"></a>
  <div style="margin-bottom:30px"></div>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" id="team" style="margin-top:70px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Eliminazione evento</b></h1>
  </div>

  {% if error %}
  <div style="border:solid red;margin:50px;background-color:#FDE4E4;width:50%;padding:15px;float:center">
  <p style="font-family:Helvetica-Medium;text-align:center;font-size:110%">{{error}}</p>
  </div>
  {% else %}
  <div></div>
  {% endif %}

  {% if success %}
  <div style="border:solid SeaGreen;margin:50px;background-color:LightGreen;width:50%;padding:15px;float:center">
  <p style="font-family:Helvetica-Medium;text-align:center;font-size:110%"> Operazione eseguita con successo!</p>
  </div>
  {% else %}
  <div></div>
  {% endif %}

  <form style="margin-left:20px;" action="/eliminazione-evento/" method=post>
    <p style="font-family: Helvetica-Light;margin:30px;margin-left:20px">Selezionare l'evento da eliminare</p>
    <select name="titolo" class="wrap-input100 validate-input m-b-16"
    style="padding:50px;font-family:Helvetica-Light;height:40px;width:40%;font-size:medium;background-color:white;margin-left:20px">
      {% for evento in eventi %}
      <option value="{{ evento['titolo'] }}"> {{ evento["titolo"] }} </option>
      {%endfor%}
    </select>

    <br><button class="w3-button w3-padding-large w3-hover-grey" style="background-color: black; color:white; margin: 20px 20px">ELIMINA</button>
  </form>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
