
<!DOCTYPE html>
<html lang="it">
<title>Comunicazione</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/faviconcomunicazione.ico') }}" </link>
</head>


<style>
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Chiudi</a>
  <div class="w3-container">
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="100%" height="100%" style="padding-bottom:40%;padding-top:10%;margin-right:10px">
  </div>
  <div class="w3-bar-block">
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>
    <a href="#eventi" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Eventi</a>
    <a href="#riunioni" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Riunioni</a>
    <a href="#relatori" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Relatori</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="30%" height="30%">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <div style="margin-bottom: 30px"></div>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="team">
    <h1 class="w3-jumbo"><b>Comunicazione</b></h1>
  </div>

<!-- TEAM -->
<div class="w3-container" id="team" style="margin-top:85px;margin-bottom:150px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Team</b></h1>

<form action="/eliminazione-membro-team/">
<div style="margin-bottom:40px">
  <button style="float:right;display:block;margin-bottom:20px" class="icon-btn add-btn">
    <div class="btn-txt">Elimina</div>
  </button>
</form>

  <form action="/inserimento-membro-team/">
    <button style="float:right;display:block;margin-bottom:20px" class="icon-btn add-btn">
      <div class="add-icon"></div>
      <div class="btn-txt">Inserisci</div>
    </button>
  </form>

  <hr style="width:50px;border:5px solid red;opacity:0.5" class="w3-round">
</div>


<div class="w3-row-padding w3-grayscale">

  {% for volontario in volontari %}

  <div class="w3-col m4 w3-margin-bottom">
    <div class="w3-light-grey w3-hover-black">
      <div class="w3-container">
        <a href="{{ url_for('dett_volontario', cf=volontario['cf']) }}" style="text-decoration:none">
        <h3 style="padding-top:7px">{{ volontario["nome"] }} {{ volontario["cognome"] }}</h3>
        <p class="w3-opacity" style="font-size:large;padding-bottom:3px">{{volontario["ruolo"]}}</p>
        <p style="font-size:small;margin-bottom:1px">{{volontario["telefono"]}}</p>
        <p style="font-size:small;margin-bottom:1px">{{volontario["email"]}}</p>
        <p style="font-size:small">Skype: {{volontario["skype"]}}</p>
        </a>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<!-- EVENTI -->
<div class="w3-container" id="eventi" style="margin-top:120px;margin-bottom:130px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Eventi</b></h1>

  <hr style="width:50px;border:5px solid red;opacity:0.5" class="w3-round">

<div class="w3-row-padding">

  {% for evento in eventi %}

  <div class="w3-col m4 w3-margin-bottom">
    <div class="w3-light-grey w3-hover-black">
      <div class="w3-container">
        <a href="{{ url_for('dett_evento', titolo=evento['titolo']) }}" style="text-decoration:none">
        <h3 style="padding-top:7px">{{evento["titolo"]}}</h3>
        <p class="w3-opacity" style="font-size:large;padding-bottom:3px">{{ evento["tipologia"] }}</p>
        <p style="font-size:small;margin-bottom:1px"> {{ evento["data"] }}</p>
        <p style="font-size:small"> {{ evento["location"] }}</p>
        {% for posti in postiliberi %}
          {% if posti["evento"] == evento["titolo"] %}
                <p class="w3-red w3-xlarge" style="opacity:0.5;font-family:Helvetica-Light;padding:4px;font-size:medium;color:black"> Posti rimasti: {{ posti["posti"]}}</p>
          {%endif%}
        {% endfor %}
        {% for spet in spettatori %}
          {% if spet["evento"] == evento["titolo"] %}
                <p class="w3-grey w3-xlarge" style="opacity:0.6;font-family:Helvetica-Light;padding:4px;font-size:medium;color:black"> Numero spettatori: {{ spet["numspet"]}}</p>
          {%endif%}
        {% endfor %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
</div>



<!-- RIUNIONI -->
<div class="w3-container" id="riunioni" style="margin-top:75px;margin-bottom:150px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Riunioni</b></h1>

  <hr style="width:50px;border:5px solid red;opacity:0.5" class="w3-round">


<div class="w3-row-padding w3-grayscale">

  <h2> In programma : </h2>

  {% for riunione in riunioni %}
  <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-container">
        <ul class="w3-ul w3-light-grey w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-large"> {{ riunione["evento"]}}</li>
          <li class="w3-padding-medium">{{ riunione["data"]}}</li>
          <li class="w3-padding-medium"> {{ riunione["ora"]}}</li>
          <li class="w3-padding-medium"> {{ riunione["luogo"]}}</li>
          <li class="w3-light-grey w3-padding-medium">

            <form action="{{ url_for('dett_riunione', data=riunione['data'], ora=riunione['ora'], evento=riunione['evento'] ) }}">
            <button class="w3-button w3-white w3-hover-black">Dettagli</button>
            </form>

          </li>
        </ul>
      </div>
  </div>

    {% endfor %}
</div>
</div>



<!-- RELATORI -->
<div class="w3-container" id="relatori" style="margin-top:100px;margin-bottom:100px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Relatori</b></h1>

<hr style="width:50px;border:5px solid red;opacity:0.5" class="w3-round">

<div class="w3-row-padding w3-grayscale">
  <div style="margin-top: 60px">

    {% for evento in eventi %}
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-container" style="margin-bottom:40px">
          <ul class="w3-ul w3-light-grey w3-center">
            <li class="w3-dark-grey w3-xlarge w3-padding-large"> {{ evento["titolo"]}}</li>

            {% for dettaglio in dettagli %}
              {% for d in dettaglio %}
                {% if d["evento"] == evento["titolo"] %}
                  <a href="{{ url_for('dett_relatore', cf=d['cf']) }}" style="text-decoration:none">
                    <li class="w3-padding-small w3-hover-gray"> <h3 style="font-size:medium;font-family:Helvetica-Light">{{ d["nome"] }} {{ d["cognome"] }} </h3><p style="font-size:small;font-family:Helvetica-UltraLight">{{ d["talk"] }}</p></li>
                  </a>
                {% endif%}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
        </div>
      {% endfor %}

  </div>
  </div>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
