<!DOCTYPE html>
<html lang="it">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/login.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
<!--===============================================================================================-->
</head>

{% block body %}

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method=post action="/">
					<span class="login100-form-title" style="font-family:Helvetica-Heavy">
						LOGIN
					</span>

					<div>
						<select name="team"class="wrap-input100 validate-input m-b-16"
						style="background-color:#EBEBEB;padding:50px;font-family:Helvetica-Light;border-radius:50px;height:60px;font-size:medium;opacity:0.7">
							<option value="direzionegenerale">Direzione Generale</option>
							<option value="marketing">Marketing</option>
							<option value="comunicazione">Comunicazione</option>
							<option value="logistica">Logistica</option>
							<option value="grafica">Grafica</option>
							<option value="regia">Regia</option>
						</select>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="password" placeholder="Password" style="font-family:Helvetica-Light">
						<span class="focus-input100"></span>
					</div>

					{% if error %}
					<p style="font-family: Helvetica-Medium;margin-top:20px; padding-top:20px;text-align:center">{{error}}</p>
					{% else %}
					<div></div>
					{% endif %}

					<div class="container-login100-form-btn">
					<button class="login100-form-btn">
							Accedi
						</button>
					</div>
				</form>


				</div>
			</div>
		</div>

</body>

{% endblock %}

</html>
